# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/bundle/ruby/3.1.0/gems/jekyll-3.10.0/lib/site_template/_posts/0000-00-00-welcome-to-jekyll.markdown.erb

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log
