<div class="col-lg">

  <h2 class="mb-3">Skills</h2>
    <div class="row justify-content-between align-items-center">
    <div class="col-10">
        <ul class="mb-1">
        <li>Excellent teamwork and collaboration skills</li>
        <br>
        <li>Self-motivated and disciplined worker with great time management skills</li>
        <br>
        <li>Flexibility that allows easy adaptation in an ever-evolving work environment with changes such as software requirements and project scopes</li>
        <br>
        <li>Ability to handle multiple projects simultaneously and prioritize tasks to ensure completion by deadlines</li>
        <br>        
        <li>Drive to stay productive and constantly improve documentation and personal skills</li>
        <br>        
        <li>Willingness to work alongside subject matter experts, engineers, and analysts</li>
        <br>        
        <li>Keen eye for detail and accuracy</li>
        <br>        
        <li>Strives for a standardized, consistent format by following style guides when requested</li>
        </ul>
    </div>
</div>